# 后端忽略（相对于根目录的路径）
backend/aplikata-springboot/target/
backend/aplikata-springboot/*.log
backend/aplikata-springboot/.classpath
backend/aplikata-springboot/.project
backend/aplikata-springboot/.settings/

# 前端忽略
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env.local
frontend/.env.*.local

# IDE 全局
.idea/
.vscode/
.DS_Store